
.celda_tienda{
display: flex;
margin: 0 3px;
width: 50px;
height: 40px;
align-items: center;
justify-content: center;
cursor: pointer;
}
.cont_game{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 600px;
    /* background: var(--color-fondo);*/
    /* border: 2px solid var(--color-borde); */
}
.game{
    width: 50%;
    min-width:300px;
    position: relative;
    padding: 12px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: var(--color-fondo);
    box-shadow: #000 0px 0px 50px;
    height: 95%;
}
#Lor{
    /* background: var(--color-fondo); */
    /* border: 2px solid var(--color-borde); */
    width: 100%;
    height: 90%;
    min-height: 50px;
    max-height: 200px;

    overflow: hidden;
    overflow-y: scroll;
    padding: 10px;
}
div::-webkit-scrollbar{
    width: 0;
}
#Lore{
    /* background: var(--color-fondo); */
    /* border: 2px solid var(--color-borde); */
    width: 100%;
    height: 200px ;
    overflow: hidden;
    padding: 10px;
}
#interfas_menu{
    font-size: 15px;
    width: 100%;
    height: 200px;
    background: var(--color-fondo);  
    /* border: 2px solid var(--color-borde); */
    align-items: center;
    justify-content: center;
    display: flexbox;
}
#menu{
    background-color: var(--color-resaltar);   
    display: flex;
    width: 100%;
    height: 40px;
    border: 2px 0px solid var(--color-borde);
    overflow: hidden;
}
#menu ul li{
    display:inline-block;
    list-style: none;
    align-items: center;
    justify-content: center;
    background: var(--color-fondo); 
    width: 25%;
    height: 100%;
    cursor: pointer;
}
#menu samp{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}
.inactivo{
    background-color: var(--color-resaltar) ;  
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
#menu ul{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.estad_avatar{
    display:inline-block;
    width: 30%;
}
.estad_avatar samp{
    display:block;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.celda_objeto{
display: flex;
width: 10%;
height: 40px;
align-items: center;
justify-content: center;
cursor: pointer;
border: 2px var(--color-resaltar) ;
border-style: inset;
background: url(../img/fondo.png);
transition: all .5s;
}
.celda_objeto:hover{
    background-color: #ffffff70;
    transform: scale(1.2);
}
.celda_tienda:hover{
    background-color: var(--color-resaltar);
}
#content_inventario{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;    
    max-height: 300px;
    flex-direction: column;
}
.linea_objetos{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-height:50px ;
}
.select{
    border: 2px solid var(--color-borde);
}
.ubi_tienda{
    width: 0;
    height: 0;
    display: flex;
}
.button_box{
    background: var(--color-fondo);
    box-shadow: 20px #888;
    /* border: 2px solid var(--color-borde) ; */
    text-align: center;
    justify-items: center;
    width: 100%;
    height: 70px;
    position: relative;
    padding: 10px;
}
.button_inventario{
    text-align: center;
    justify-items: center;
    width: 100%;
    position: relative;
    background: url(../img/fondo\ verde.jpg);
    padding-top: 10px;
    bottom: 10px;
    margin-top: 10px;
}
.action_button{
    text-align: center;
    text-decoration: none;
    font-size: 18;
    width: 20%;
    padding: 10px 5px;
    color: #000000;
    background: var(--color-fondo);
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    margin: 5px;
}
.action_button:hover{
    background: var(--color-resaltar);
}

.separador_left{
    background: url('../img/linea\ vertical.png');
    position: absolute;
    height: 100%;
    left: 0;
    width: 10px;
    z-index: 100;
    box-shadow: #000 0px 0px 20px 10px;
}
.separador_ragiht{
    background: url('../img/linea\ vertical.png');
    position: absolute;
    height: 100%;
    width: 10px;
    right: 0px;
    top: 0px;
    z-index: 100;
    box-shadow: #000 0px 0px 20px 10px;
}
.separador_bottom{
    background: url('../img/linea\ horisontal.png');
    position: absolute;
    height: 10px;
    width: 100%;
    top: 0;
    left:0;
    z-index: 100;
    box-shadow: #000 0px 0px 20px 10px;
}
.separador_top{
    background: url('../img/linea\ horisontal.png');
    position: absolute;
    height: 10px;
    width: 100%;
    bottom: 0;
    left:0;
    z-index: 100;
    box-shadow: #000 0px 0px 20px 10px;
}







.vicible{
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}
.no_vicible{
    display: none !important; 
}